/**
 * -----------------------------------------------------------------------
 * colors
 * -----------------------------------------------------------------------
 *
 *
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

$color-black: #020202;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-medium-grey: #585858;
$color-light-grey: #fbfafa;
$color-light-blue: #ebf4fa;
$color-blue: #0b9ced;
$color-green: #60e589;
$color-red: #f91414;
