/**
 * -----------------------------------------------------------------------
 * typo
 * -----------------------------------------------------------------------
 *
 * Place all typography settings in here.
 * It is best to create a mixin for each typography «look», including font-size, weight etc.
 *
 * CAUTION:
 * - Do not put any content output here. Only Sass Variables, Functions, Mixins, no classes!
 *
 * TIPS:
 * - Avoid spacings like margins and paddings here
 *
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

// Base typographical styles and baseline grid. You need to define these values
// in pixels: we will convert them to more appropriate units.
$global-font-size: 18px;
$global-line-height: 23px;

// Font Families
$font-default: Helvetica, Arial, sans-serif;
$font-heading: "Times New Roman", serif;

// Example Typography definitions
@mixin typo-small() {
    font-family: $font-default;
    font-size: 14px;
    line-height: 1.2;
}

@mixin typo-body-italic() {
    font-family: $font-heading;
    font-size: 14px;
    line-height: 1.2;
    font-style: italic;
}

@mixin typo-body-bold() {
    font-family: $font-default;
    font-size: 14px;
    line-height: 1.2;
}

@mixin typo-table() {
    font-family: $font-heading;
    font-size: 14px;
    line-height: 1.2;
}

@mixin typo-body() {
    font-family: $font-default;
    font-size: 14px;
    line-height: 1.2;
}

@mixin typo-heading-small() {
    font-family: $font-heading;
    font-size: 23px;
    line-height: 1.1;
    @include breakpoint-max(medium) {
        font-size: 20px;
    }
}

@mixin typo-heading-medium() {
    font-family: $font-heading;
    font-size: 34px;
    line-height: 1.1;
    @include breakpoint-max(medium) {
        font-size: 25px;
    }
}

@mixin typo-heading-large() {
    font-family: $font-heading;
    font-size: 51px;
    line-height: 1.1;
    @include breakpoint-max(medium) {
        font-size: 20px;
    }
}
