{% if craft.app.config.env != 'production' %}
    <div
        id="devmode"
        class="w-screen z-[999] fixed inset-x-0 bottom-0 h-1"
        style="background: url('/assets/devmode.svg')"
    ></div>
{% endif %}
