{% extends "_layouts/layout.twig" %}

{% block main %}

    <h1>
        Diese Seite wurde leider nicht gefunden.
    </h1>
    <p>
        <a href="{{ currentSite.baseUrl|trim('/') }}">Zurück zur Startseite</a>
    </p>

{% endblock %}
