.blocks {
    &--blog {
        @include container($page-container-blog);
        padding-bottom: var(--spacing-medium-big);
        @include mq($from: desktop) {
            background-color: $color-light-grey;
        }
        & > *:first-child {
            margin-top: 0;
        }
    }
}
