.nav {
    @include z-index(nav);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-background);
    padding: 0 var(--spacing-small) 0 var(--spacing-medium);
    @include mq($until: tablet) {
        padding: 0 18px;
        max-height: 100vh;
        overflow-y: scroll;
    }

    &__burger-burger {
        @include mq($from: phone, $until: tablet) {
            @include burger($width: 24px, $gutter: 6px, $height: 3px, $color: var(--color-text));
        }
    }

    &__main {
        display: flex;
        @include mq($from: tablet) {
            justify-content: space-between;
        }
        @include mq($until: tablet) {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        transition: all 0.2s ease-in-out;
        @include mq($until: tablet) {
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
        }
    }

    &__logo {
        display: flex;
        @include mq($from: desktop) {
            margin-right: 55px;
        }
        @include mq($until: tablet) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
        }
    }

    &__logo-icon {
        display: flex;
        @include mq($until: tablet) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
        }
    }

    &__logo-type {
        @include typo-heading-small();
        font-weight: bold;
        margin-left: 0.5em;
    }

    &__item {
        padding: 0 0.8333em;
        @include mq($until: desktop) {
            padding: 0 0.4166em;
        }
        @include mq($until: tablet) {
            padding: 0 0;
        }

        &:first-child {
            padding-left: 0
        }

        a {
            @include typo-heading-small();
            font-weight: normal;
            display: flex;
            padding: 0.62em 0.5126em;;
            line-height: 1.3;
            @include mq($until: tablet) {
                padding: 0.333em 0;
            }
        }

        &--active {
            > a {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    left: 0.4166em;
                    right: 0.4166em;
                    bottom: 0;
                    background-color: $color-blue;
                    @include mq($until: tablet) {
                        left: 0;
                        right: 0;
                    }
                }
            }

        }
    }

    &__sublist {
        list-style: none;
        background-color: var(--color-background);
        @include mq($from: tablet) {
            position: fixed;
        }
    }

    &__sublist-item {

        a {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            @include mq($until: tablet) {
                background-color: $color-light-blue;
            }
        }
    }

    &__burger-title {
        @include typo-heading-small();
        font-weight: bold;
    }

    &__burger-label {
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 1;

        @include mq($from: tablet) {
            display: none;
        }
    }

    &__burger-checkbox {
        position: absolute;
        display: inline-block;
        top: 0px;
        right: 0px;
        z-index: 20;
        @include mq($from: desktop) {
            display: none;
        }

        &:checked {
            position: fixed;

            & ~ .nav {
                &__main {
                    .nav__list {
                        @include mq($until: tablet) {
                            max-height: 800px;
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }

                    .nav__lang-list {
                        @include mq($until: tablet) {
                            max-height: 800px;
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                }
            }

            & ~ .nav-burger {
                position: fixed;
            }
            & ~ .nav__burger-label .nav__burger-burger {
                @include mq($from: phone, $until: tablet) {
                    @include burger-to-logo($gutter: 6px, $height: 3px);
                }
            }

            & ~ .nav__burger-label .nav__burger-text {
                &-o {
                    display: inline;
                }

                &-c {
                    display: none;
                }
            }

        }
    }

    .nav__burger-text-o,
    .nav__burger-text-c {
        @include typo-heading-small();
        margin-left: 0.63em;
    }

    .nav__burger-text-o {
        display: none;
    }

    &__lang-switcher {
        display: flex;
        align-items: center;
    }

    &__lang-list {
        @include typo-heading-small();
        font-family: $font-default;
        display: flex;
        list-style: none;

        @include mq($until: tablet) {
            max-height: 0;
            overflow: hidden;
            margin-left: -0.5em;
        }
    }

    &__lang-item {
        color: $color-blue;
        padding: 0.35em 0.5em;
        &--active {
            opacity: 0.11;
        }
    }
}
