.pageHeading {
    @include container($page-container);
    @include grid();
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);

    &__inner {
        grid-column: 2 / span 9;

        @include mq($until: desktop) {
            grid-column: 1 / span 12;
        }
    }

    &--top-page,
    &--blog {
        padding-bottom: var(--spacing-medium-big);
    }

    &--blog {
        @include container($page-container-blog);
        @include grid(11);
        margin-top: var(--spacing-large) !important;
        grid-column: 2 / span 10;
        @include mq($from: desktop) {
            background-color: $color-light-grey;
        }
    }
}
