.quote {
    // @include grid();
    margin: var(--spacing-medium) 0;
    display: flex;
    justify-content: center;

    &__inner {
        // grid-column: 2 / span 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 81.395%;
    }

    &__text {
        @include typo-quote();
        // padding: 0 var(--spacing-medium-big);
        width: 80%;
        color: var(--color-hightlight);
    }

    &__author {
        @include typo-small();
        // padding: 0 var(--spacing-medium-big);
        width: 80%;
        margin-top: 0.714em;
    }

    &__author-name {
        font-weight: bold;
    }
}

.blocks--blog {
    .quote {
    }
}
