.text {
    @include grid();

    &__inner {
        grid-column: 2 / span 9;

        @include mq($until: desktop) {
            grid-column: 1 / span 12;
        }
    }

    p + p{
        margin-top: 1em;
    }

    & + & {
        margin-top: 1em;
    }
}

.blocks--blog {
    .text {
        @include grid(11);
    }
}
