{% extends "_layouts/html.twig" %}

{% block page %}
    <div id="swup">
        <main class="page-transition-main">
            {{ block('main') }}
        </main>

        {% cache globally using key 'footer' %}
            {% include '_components/footer.twig' %}
        {% endcache %}
    </div>
{% endblock %}


