@mixin button($background-color: $color-green, $color: var(--color-text), $color-shadow: var(--color-shadow-neutral)) {
    @include typo-heading-small();
    display: inline-block;
    padding: 0.333em 0.77em;
    margin: 0;
    overflow: visible;
    color: $color;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background: $background-color;
    border: 0;
    border-radius: 0;
    outline: 0;
    // Change box model
    box-sizing: border-box;
    // Adjust background display
    background-clip: padding-box;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translate(8px, -8px);
        box-shadow: -1px 1px 0px $color-shadow, -2px 2px 0px $color-shadow, -3px 3px 0px $color-shadow, -4px 4px 0px $color-shadow, -5px 5px 0px $color-shadow, -6px 6px 0px $color-shadow, -7px 7px 0px $color-shadow, -8px 8px 0px $color-shadow;
    }

    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        //color: #555;
        //border-color: #555;
    }
    &:visited {
        color: var(--color-box);
    }
}
