/**
 * -----------------------------------------------------------------------
 * body
 * -----------------------------------------------------------------------
 *
 *
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

html {
    background-color: var(--color-background);
}

body {
    @include typo-body();
    width: 100%;
    margin-top: -1px;
    padding-top: 1px;
    color: var(--color-text);
    overflow-x: hidden;
    background-color: var(--color-background);
    font-size: 18px;
}

.content {
    margin: 0 auto;
    padding: var(--page-container-padding);
    max-width: var(--page-container-limit);
}
