html,
body {
    font-kerning: normal;
    font-feature-settings: 'liga' 1, 'kern' 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h2 {
    @include typo-heading;
}

h1 {
    @include typo-heading;
}

h3,
h4,
h5,
h6 {
    @include typo-body;
}
