html,
body {
    font-kerning: normal;
    font-feature-settings: 'liga' 1, 'kern' 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include text-stroke;
    @include blur;
    font-weight: normal;
    text-decoration: underline;
}

h2 {
    @include typo-heading-medium;
}

h1 {
    @include typo-heading-large;
}

h3 {
    @include typo-heading-small;
}

h4,
h5,
h6 {
    @include typo-body;
}

p {
    @include typo-body;
    @include text-stroke;
}

td {
    @include typo-body;
    @include text-stroke;
}
